<h1>{{title}}</h1>

{{#each posts}}
<div class="blog-list-item">
	<h2>
		<a href="/admin/preview/{{this.slug}}">{{this.title}}</a>
	</h2>
	
	<div>
		<i>{{this.dateCreated}}</i>
	</div>
	
	<div>{{{this.description}}}</div>
	
	<div>
		<a href="/admin/edit/{{this.slug}}">Edit</a>
	</div>
	
	<hr>
</div>
{{/each}}