<div>
	<b>Status:</b>
	{{#if post.isPublished}}
		Published
	{{else}}
		Draft
	{{/if}}
</div>

<div><b>URL Slug:</b> {{post.slug}}</div>

<br>

<div>
	<a href="/admin/edit/{{post._id}}">Edit Post</a>
</div>

<br><br>

<h1>{{post.title}}</h1>

<h3>
	{{post.description}}
</h3>

<div>by {{post.author}}</div>

<div>on {{post.dateCreated}}</div>

{{{post.article}}}
